[user]
	name = Aleksandar Pantic
	email = MyMail21@gmail.com
[push]
	default = simple
[diff]
	tool = vimdiff
[core]
	editor = vim
[alias]
    d = diff
    a = add
    aa = add --all
    c = commit
    cm = commit -m
    ca = commit -a
    s = status
